.slot {
    background-color: #8b8b8b; 
    box-shadow: inset 1.5px 1.5px 0px rgba(55, 55, 55, 0.8),
                inset -2px -2px 0px #ffffff;
}

.selected {
    border-width: 3px;
    border-style: solid;
    border-color: #C6C6C6;
    border-radius: 3px;
}
